<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>You order with Order ID <%= @order.order_id %> status updated.</p>
<p>STATUS: <%= @order.status.titleize %></p>
<p>
  Message:<br> <a href="<%= @url %>">Click here </a>to see your live status. <br>
  ----------
</p>
</body>
</html>
